.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}
.card-header{
    background: var( --bs-gray-700);
}
.card{
    border: none;
}

.card-subtitle{
    color: var( --bs-gray-600);
}